html{
    font-size: 64.5%;
}

@media screen and (min-width:1440px) {
    html{
        font-size: 92.4%;
    }
}
@media screen and (min-width:2560px){
    html{
        font-size: 161.5%;
    }
}

@media screen and (max-width:991px) {
    html{
        font-size: 62.4%;
    }

    .cart {
		width: 65%;
	}
}
@media screen and (max-width:767px) {
    html{
        font-size:48%;
    }
    .filter{
        width: 100%;
        border-radius: 0;
    }
    .modalPlant{
        width: 65%;
    }
    .modal-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: fit-content;
    }
    

    .modal-content div{
        width: 100%;
    }

    .cart{
        width: 70%;
    }
}

@media screen and (max-width:576px){
    html{
        font-size: 36.2%;
    }
    .plant-card {
	    flex-basis: 31rem;
    }

    .cart {
        width: 80%;
    }
}

@media screen and (max-width:425px){
    html{
        font-size: 32%;
    }

    .cart{
        width: 100%;
    }
}

@media screen and (max-width:375px){
    html{
        font-size: 30%;
    }
}