@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600,700&family=Saira+Semi+Condensed:wght@700&display=swap');

:root {
  --head-font: 'Saira Semi Condensed', sans-serif;
  --text-font: 'Quicksand', sans-serif;
  --primary-color: #006400;
  --secondary-color: rgb(112, 224, 0);
  --color-white: #fff;
}

/* Universal Stylings */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

/* Scroll-bar Stylings */
html::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}
html::-webkit-scrollbar {
	width: 5px;
	background-color: black;
}

/* Hidden class styling */
.hidden {
	visibility: hidden;
	opacity: 0;
}

nav {
  /* background-color: rgba(0, 0, 0, 0.455);  */
  height: 13vh;
  width: 90%;
  border-bottom: 1px solid white;
  transition: 0.3s;
  position: sticky;
  top: 10px;
}
.navbar-brand,
.offcanvas-title {
  font-family: var(--head-font);
  font-size: 30px !important;
  color: white;
}
.dropdown .dropdown-menu {
  max-height: 300px;
}
.navbar .offcanvas-body ul li a{
   color: var(--color-white);
   font-size: 1.7rem;
   font-family: var(--head-font);
   position: relative;
}
.navbar .cart .cart-btn{
   color: var(--color-white);
   font-size: 2rem;
}
.navbar .navbar-nav .nav-item .nav-link::before{
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 40px;
   height: 2px;
   background: var(--secondary-color);
   border: 4px;
   scale: .1;
   transform-origin: left;
   transition: scale .25s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before{
   scale: 1;
}


.landing-page {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.6)
		),
		url(../images/landing-page-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
   clip-path: polygon(0 0, 100% 0, 100% 98%, 50% 99%, 0 98%);
}
.landing-page span {
	font-size: 4.5rem;
	width: 50%;
   font-family: var(--head-font);
   padding: 0rem 1.5rem;
}
.landing-page .green-heading{
   background-color: var(--primary-color);
   color: var(--color-white);
}
.landing-page .white-heading{
   background-color: var(--color-white);
   color: #000;
}
.landing-page a {
   border: 2px solid var(--color-white);
	color: white;
	display: inline-block;
	margin: 3rem 0rem;
	font-family: var(--head-font);
	font-size: 1.3rem;
   padding: 1.3rem 1.8rem;
}
.landing-page a:hover {
	color: var(--color-white);
   background-color: var(--primary-color);
   border: 2px solid var(--primary-color);
}

.catalog .plant-img{
   background-color: rgba(0, 0, 0, 0.3);
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.catalog .plant-description{
   background-color: rgb(255, 255, 255);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   /* padding: 10px; */
   box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}
.catalog .plant-description span{
   font-weight: 700 !important;
}
.catalog .plant-description p{
   font-size: 1.5rem;
   font-family: var(--text-font);
   margin: 0px 0px 0px 10px;
}

.plant-description{
   height: 400px;
   position: relative;
}
.plant-description img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   position: absolute;
   left: 0;
}
.plant-description .info{
   width: 80%;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(20px);
   position: absolute;
   color:white;
   bottom: 0;
   font-size: 2rem;
   padding: 5px 20px;
}

.plant-description a{
   background-color: var(--primary-color);
   padding: 5px 15px;
   color: white;
   border-radius: 15px;
   display: inline-block;
   font-size: 1.2rem;
   right: 10px;
   text-align: right;
}



.contact{
   width: 100%;
   background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/background.jpg);
}
.contact .time-list {
	margin-top: 50px;
	padding-left: 0;
}
.contact .time-list li {
	border-bottom: 1px solid #eee;
	font-size: 1.5rem;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-family: var(--text-font);
}
.contact form{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 0px;
}
.contact input, .contact textarea{
    background-color: transparent !important;
    border-bottom: 1px solid red;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
}

@media only screen and (max-width: 991px) {
   svg {
      top: -20px;
     left: -60px;
   }
   .offcanvas {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
   nav .active {
      color: var(--primary-color) !important;
   }
}

@media screen and (max-width: 767px) {
  .offcanvas {
    backdrop-filter: blur(10px) !important;
  }
}

@media only screen and (max-width: 576px) {
    html{
      font-size: 50%;
    }
    .landing-page span{
      font-size: 2.5rem;
    }
    svg {
        top: -25px;
        left: -60px;
    }
    .nav {
		width: 100%;
		height: 100%;
		font-size: 3rem;
	}
    .landing-page h1{
        width: 85%;
    }
}